<section class="section-text">
  <div class="container">
    {{ page.content }}
    {% for row in page.header.text|batch(2) %}
    <div class="row p-y-lg">
      {% for text in row %}
      <div class="col-md-6 col-lg-offset-3 text-center">
        <p class="wp {% if text.css_suffix %}{{ text.css_suffix }}{% endif %}">
          {{ text.content }}
        </p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

    <ol>
      {% for row in page.header.list%}
        <li> {{ row.item }} </li>
      {% endfor %}
    </ol>
  </div>
</div>
</section>
